@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", serif;

}
html, body{
     max-width: 100%;
     overflow-x: hidden;
}
.hero_section .box .first_box{
     background-color: #c9daec;
     min-height: 67vh;
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
     padding: 50px 30px;
     width: 100%;
     position: relative;
}
.hero_section .box .first_box .img{
     position: absolute;
     width: 500px;
     right: 10px;
     bottom: 0px;
     height: 400px;
}
.hero_section .box .first_box h1{
     font-size: 40px;
     width: 65%;
}
.hero_section .box .first_box p{
     font-size: 16px;
     margin-top: 28px;
     width: 50%;
}
/* .hero_section .box .first_box  */
.button_one{
     background-color: transparent;
     border: 1px solid #013c5c;
     padding: 8px 20px;
     cursor: pointer;
     border-radius: 4px;
     transition: 0.5s ease;

}
/* .hero_section .box .first_box  */
.button_one:hover{
     background-color: #013c5c;
     color: white;
}
/* .hero_section .box .first_box  */
.button_two{
     background-color: #013c5c;
     color: white;
     border: 1px solid #013c5c;
     padding: 8px 20px;
     cursor: pointer;
     transition: 0.5s ease;
     border-radius: 4px;
}
/* .hero_section .box .first_box  */
.button_two:hover{
     background-color: transparent;
     color: #013c5c;
}
.image{
     border-top-left-radius:35px ;
}
.hero_section .right_section{
     background-color: #013c5c;
     padding: 70px 50px;
     min-height: 67vh;
     border-top-right-radius: 15px;
     border-bottom-right-radius: 15px;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 28px;

}
.hero_section .right_section .box{
     border-bottom: 1px solid white;
     width: 80%;
}
.hero_section .right_section .box h5{
     font-size: 30px;
}
.support .box{
     display: flex;
     flex-direction:column ;
     justify-content:flex-start;
     align-items: center;
     border: 1px solid rgb(255, 255, 255);
     width: 300px;
     border-radius: 10px;
     cursor: pointer;
     padding: 5px;
}
.support .box:hover{
     background-color: #013c5c;
     color: white;
     transition: 0.5s ease;
     align-items: center;
     display: flex;
}
.support{
     align-items: center;
     display: flex;
     flex-direction:row ;
     justify-content:flex-start;
     margin-top: 50px;
     margin-left: 145px;
     margin-bottom: 50px;
     gap: 5px;
}
.doctors{
     align-items: center;
     display: flex;
     flex-direction:row ;
     max-width: 100%;
     height: auto;
     justify-content:flex-start;
     align-items: center;
     margin-top: 50px;
     margin-left:70px;
     margin-right:70px;
     margin-bottom: 50px;
     gap: 5px;
     padding: 50px;
     background-color:  #c9daec;
     border-radius: 15px;
     gap: 50px;
}

.doctors .img .image{
     max-width: 200px;
}
.doctor2{
     max-width: 100%;
     margin-left: 53px;
     border-radius: 84px;
     max-height: 604px;
}

.reserve_doctors{
     margin-top: 25px;
     width: 100%;
}
.reserve_doctors .expertise{
     display: flex;
     margin: 25px 0px;
     width: 100%;
     justify-content: space-between;
     gap: 150px;
}
.reserve_doctors .expertise h6{
     font-size: 25px;
     font-weight: 500;
}
.reserve_doctors .expertise .departments{
     display: flex;
     gap: 25px;
}
.row .col-md-3 .left__box{
     background-color: #013c5c;
     padding: 7px 20px;
     min-height: 67vh;
     border-radius: 8px;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 20px;
}
.days{
     background-color: white;
     color:#4b4c4e;
     padding: 6px 70px ;
     margin-bottom: 15px;
     cursor: pointer;
     border-radius: 8px;
     transition: 0.5s ease;
     gap: 5px;
     border: 1px solid #013c5c;
     cursor: pointer;
     transition: 0.5s ease;
}
.days:hover{
     background-color:#c9daec;
     color:#013c5c;
     margin-bottom: 17px;
     margin-top: 17px;

}
.right__box {
     background-color: #c9daec;
     border-radius: 15px;
}
.right__box .row {
     width: 100%;
     margin-top: 20px;
     margin-left: 7px;
     margin-right: 7px;
}
.img-fluid{
     border-radius: 15px;
     transition: 0.9s ease;
}
.img-fluid:hover{
     background-color:#c9daec;
     color:#013c5c;
     margin-bottom: 7px;
     margin-top: 7px;


}
.right__box h6{
     font-size: 20px;
     padding: 25px 0px 0px 25px;
}
.right__box .row h3{
     font-size: 20px;
     margin-top: 20px;
}
